/* EHI TU CHE ST AI LEGGENDO QUESTO FILE, 
L'HA CREATO VITO SOLO PER VOI, 
QUI TROVERAI TUTTO QUELLO CHE HA FATTO VITO. */
/* card */
.categorie-border-box {
    border: 4px solid #852d91;
    border-radius: 25px;
    margin-top: 15px;
}
.dist-container{
  margin-top: 150px;
}
/* card */
 
.mydiv {
  margin-top: 50px;
  margin-bottom: 50px
}

.cross {
  font-size: 10px
}

.padding-0 {
  padding-right: 5px;
  padding-left: 5px
}

.img-style {
  margin-left: -11px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  max-width: 100% !important
}

.m-t-20 {
  margin-top: 20px
}

.bbb_background {
  background-color: #E0E0E0 !important
}

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute
}

.ribbon span {
  position: absolute;
  display: block;
  width: 34px;
  border-radius: 50%;
  padding: 8px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  color: #fff;
  font: 100 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-transform: uppercase;
  text-align: center
}

.ribbon-top-right {
  top: -10px;
  right: -10px
}

.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent
}

.ribbon-top-right::before {
  top: 0;
  left: 17px
}

.ribbon-top-right::after {
  bottom: 17px;
  right: 0
}

.sold_stars i {
  color: orange
}

.ribbon-top-right span {
  right: 17px;
  top: 17px
}

div {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.bbb_deals_featured {
  width: 100%
}

.bbb_deals {
  width: 100%;
  height: 100%;
  margin-right: 7%;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 34px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 23px;
  margin-top: 0px
  
}

.bbb_deals_title {
  position: absolute;
  top: 10px;
  left: 22px;
  font-size: 18px;
  font-weight: 500;
  color: #000000
}

.bbb_deals_slider_container {
  width: 100%
}

.bbb_deals_item {
  width: 100% !important
}

.bbb_deals_image {
  width: 100%
}



.bbb_deals_content {
  margin-top: 33px
}

.bbb_deals_item_category a {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5)
}

.bbb_deals_item_price_a {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6)
}

.bbb_deals_item_price_a strike {
  color: red
}

.bbb_deals_item_name {
  text-transform:capitalize;
  font-size: 20px;
  font-weight: 400;
  color: #000000
}

.bbb_deals_item_price {
  font-size: 24px;
  font-weight: 500;
  color: #6d6e73
}

.available {
  margin-top: 19px
}
.available_bar{
  text-transform:capitalize;
}

.available_title {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400
}

.available_title span {
  font-weight: 700
}

@media only screen and (max-width: 991px) {
  .bbb_deals {
      width: 100%;
      margin-right: 0px
  }
}

@media only screen and (max-width: 575px) {
  .bbb_deals {
      padding-left: 15px;
      padding-right: 15px
  }

  .bbb_deals_title {
      left: 15px;
      font-size: 16px
  }

  .bbb_deals_slider_nav_container {
      right: 5px
  }

  .bbb_deals_item_name,
  .bbb_deals_item_price {
      font-size: 20px
  }
}

/* btn */
.btn.vitobtn{
  color: #fff;
  background: linear-gradient(135deg, #852d91, #312a6c);
  font-family: 'Comfortaa', cursive;
  font-size: 22px;
  font-weight: 700;
  text-transform: lowercase;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.btn.vitobtn:hover{
  color: #fff;
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  animation: rotate 0.7s ease-in-out both;
}
.btn.vitobtn:before,
.btn.vitobtn:after{
  content: '';
  background: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  opacity: 0;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: all 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.btn.vitobtn:hover:before,
.btn.vitobtn:hover:after{
  opacity: 0.15;
}
.btn.vitobtn:hover:before{ transform: translate3d(50%, 0, 0) scale(0.9); }
.btn.vitobtn:hover:after{ transform: translate(50%, 0) scale(1.1); }
@keyframes rotate{
  0%{ transform: rotate(0deg); }
  25%{ transform: rotate(3deg); }
  50%{ transform: rotate(-3deg); }
  75%{ transform: rotate(1deg); }
  100%{ transform: rotate(0deg); }
}
@media only screen and (max-width: 767px){
  .btn.vitobtn{ margin-bottom: 20px; }
}
/* form revisore */

/* footer */
.background-footer{
  background:#343a40;
}
.text-footer{
  color: white;
}
.btn-footer{
  background-color:rgb(55, 222, 252);
}
.form-control {
  
  display: block;
  width:100%;
  padding: 0.375rem 0.75rem
;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.2rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* section diventa un revisore */
#antirotate{
  animation:spin 4s linear infinite;
  animation-name:antirotate;
}
@keyframes antirotate{
  0%{transform: rotate(0deg );}
  100%{transform: rotate(-360deg);}
}
:root {
  --violet : rgb(177, 107, 177);
  --blue: rgb(55, 222, 252);
  
}


.orb {
    animation:spin 4s linear infinite;
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 50px;
    border-radius: 50%;
    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 60px var(--violet),
        inset -20px 0 60px var(--blue),
        inset 20px 0 300px var(--violet),
        inset -20px 0 300px var(--blue),
          0 0 50px #fff,
          -10px 0 60px var(--violet),
          10px 0 60px var(--blue);
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } };

.btn-primary-revisor {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn-revisor {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: linear-gradient(135deg, #852d91, #312a6c);
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 5.25rem
;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* card categorie in welcome */

/* .border-cardCategoris{
  border: 10px solid white;
} */
.container-hover-pulsant{



  /* height:100%; */
 position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn-hover-pulsant {
    /* margin-top: calc(50% + 25px); */
    position: relative;
    display: inline-block;
    width: 277px;
    height: 50px;
    font-size: 1em;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
    font-size:17px;
    letter-spacing: 0.045em;
}

.btn-hover-pulsant svg {
    position: absolute;
    top: 0;
    left: 0;
}

.btn-hover-pulsant svg rect {
    /* stroke: #EC0033; */
    stroke-width: 4;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
}

.btn-hover-pulsant span{
  background: rgb(255, 165, 130);
  background: -moz-linear-gradient(left,  rgba(255,130,130,1) 0%, rgba(225,120,237,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
  background: linear-gradient(to right,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-hover-pulsant:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 196, 543;
    stroke-dashoffset: 437;
}


/* card categorie nella welcome */
.card-categorie{
  border-radius: 23px;
  box-shadow: -5px 0px 27px 5px #7ec6cfd5;
}
.img-card-categorie{
  border-radius: 23px;
}

.card-cat {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  
}




